<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dispositivo-no-asociado-heading" jhiTranslate="shaffiroApp.dispositivoNoAsociado.home.createOrEditLabel">Create or edit a Dispositivo No Asociado</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dispositivoNoAsociado.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dispositivoNoAsociado.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.dispositivoNoAsociado.mac" for="field_mac">Mac</label>
                    <input type="text" class="form-control" name="mac" id="field_mac"
                        [(ngModel)]="dispositivoNoAsociado.mac" />
                    <div [hidden]="!(editForm.controls.mac?.dirty && editForm.controls.mac?.invalid)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.dispositivoNoAsociado.uuid" for="field_uuid">Uuid</label>
                    <input type="text" class="form-control" name="uuid" id="field_uuid"
                        [(ngModel)]="dispositivoNoAsociado.uuid" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
