<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dispositivoNoAsociado">
            <h2><span jhiTranslate="shaffiroApp.dispositivoNoAsociado.detail.title">Dispositivo No Asociado</span> {{dispositivoNoAsociado.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shaffiroApp.dispositivoNoAsociado.mac">Mac</span></dt>
                <dd>
                    <span>{{dispositivoNoAsociado.mac}}</span>
                </dd>
                <dt><span jhiTranslate="shaffiroApp.dispositivoNoAsociado.uuid">Uuid</span></dt>
                <dd>
                    <span>{{dispositivoNoAsociado.uuid}}</span>
                </dd>
                <dt><span jhiTranslate="shaffiroApp.dispositivoNoAsociado.puerto">Puerto</span></dt>
                <dd>
                    <span>{{dispositivoNoAsociado.puerto}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dispositivo-no-asociado', dispositivoNoAsociado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
