<div>
    <h2 id="page-heading">
        <span jhiTranslate="shaffiroApp.regla.home.title">Reglas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-regla" [routerLink]="['/regla/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shaffiroApp.regla.home.createLabel">
            Create new Regla
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reglas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="shaffiroApp.regla.nombre">Nombre</span></th>
            <th><span jhiTranslate="shaffiroApp.regla.antecedente">Antecedente</span></th>
            <th><span jhiTranslate="shaffiroApp.regla.concecuente">Concecuente</span></th>
            <th><span jhiTranslate="shaffiroApp.regla.operador">Operador</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let regla of reglas ;trackBy: trackId">
                <td><a [routerLink]="['/regla', regla.id, 'view' ]">{{regla.id}}</a></td>
                <td>{{regla.nombre}}</td>
                <td>{{regla.antecedente}}</td>
                <td>{{regla.concecuente}}</td>
                <td>{{regla.operador}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/regla', regla.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/regla', regla.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'regla', { outlets: { popup: regla.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
