<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="regla">
            <h2><span jhiTranslate="shaffiroApp.regla.detail.title">Regla</span> {{regla.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shaffiroApp.regla.nombre">Nombre</span></dt>
                <dd>
                    <span>{{regla.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="shaffiroApp.regla.antecedente">Antecedente</span></dt>
                <dd>
                    <span>{{regla.antecedente}}</span>
                </dd>
                <dt><span jhiTranslate="shaffiroApp.regla.concecuente">Concecuente</span></dt>
                <dd>
                    <span>{{regla.concecuente}}</span>
                </dd>
                <dt><span jhiTranslate="shaffiroApp.regla.operador">Operador</span></dt>
                <dd>
                    <span>{{regla.operador}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/regla', regla.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
