<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-regla-heading" jhiTranslate="shaffiroApp.regla.home.createOrEditLabel">Create or edit a Regla</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!regla.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="regla.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.regla.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="regla.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.regla.unidad" for="field_unidad">Unidad</label>
                    <select class="form-control" name="unidad" [(ngModel)]="regla.unidad" id="field_unidad" >
                        <option value="CELSIUS">{{'shaffiroApp.Unidad.CELSIUS' | translate}}</option>
                        <option value="AMPERE">{{'shaffiroApp.Unidad.AMPERE' | translate}}</option>
                        <option value="LUMENES">{{'shaffiroApp.Unidad.LUMENES' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.regla.valor" for="field_valor">Valor</label>
                    <input type="text" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="regla.valor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.regla.operador" for="field_operador">Operador</label>
                    <input type="text" class="form-control" name="operador" id="field_operador"
                        [(ngModel)]="regla.operador" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shaffiroApp.regla.dispositivoAsociado" for="field_dispositivoAsociado">Dispositivo Asociado</label>
                    <select class="form-control" id="field_dispositivoAsociado" name="dispositivoAsociado" [(ngModel)]="regla.dispositivoAsociadoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dispositivoOption.id" *ngFor="let dispositivoOption of dispositivos; trackBy: trackDispositivoById">{{dispositivoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
